<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DT - Money</title>
  </head>
  <body>
    <main>
      <header class="header">
        <img src="assets/logo.png" alt="" />
        <button
          (click)="modal.openModal()"
          class="btn-green"
          id="btn-transacao"
        >
          Nova Transação
        </button>
      </header>
      <section class="section-card">
        <div class="card">
          <div class="card-descricao">
            <p>Entradas</p>
            <img src="assets/icons.png" />
          </div>
          <h1 class="valor-decricao color-green">
            {{ totalEntradas | currency : "BRL" }}
          </h1>
        </div>
        <div class="card">
          <div class="card-descricao">
            <p>Saidas</p>
            <img src="assets/icons-negativo.png" />
          </div>
          <h1 class="valor-decricao color-red">
            {{ totalSaidas | currency : "BRL" }}
          </h1>
        </div>
        <div class="card card-green">
          <div class="card-descricao">
            <p>Total</p>
            <img src="assets/icons-total.png" />
          </div>
          <h1 class="valor-decricao">{{ total | currency : "BRL" }}</h1>
        </div>
      </section>

      <section class="section-table">
        <form (ngSubmit)="filtrarTransacoes()">
          <input
            class="form-input"
            type="text"
            name="buscar"
            placeholder="Busque uma Transação"
            [(ngModel)]="filtro"
            name="filtro"
          />
          <button class="btn-buscar" type="submit">Buscar</button>
        </form>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>R$ Valor</th>
            <th>Categoria</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
          <tr
            *ngFor="let transacao of filtro ? transacoesFiltradas : transacoes"
          >
            <td>{{ transacao.id }}</td>
            <td>{{ transacao.descricao }}</td>
            <td *ngIf="transacao.valor > 0; else valorNegativo">
              <p class="color-green">
                {{ transacao.valor | currency : "BRL" }}
              </p>
            </td>
            <ng-template #valorNegativo>
              <td>
                <p class="color-red">
                  {{ transacao.valor | currency : "BRL" }}
                </p>
              </td>
            </ng-template>
            <td>{{ transacao.categoria }}</td>
            <td>{{ transacao.data | date : "dd/MM/yyyy" }}</td>
            <td>
              <span
                (click)="deleteTransacao(transacao.id)"
                class="material-symbols-outlined icon-delete"
              >
                delete
              </span>
            </td>
          </tr>
        </table>
      </section>
      <app-modal #modal></app-modal>
    </main>
  </body>
</html>
